@model Estudiantes.Models.Student

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Esta seguro de eliminar el Estudiante?</h3>
<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Career)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Career.Description)
        </dd>
        <dd>
            <img src="~/images/students/@Model.Picture"
                 class="rounded-circle"
                 height="80" with="40"
                 asp-append-version="true" />
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
