@model IEnumerable<Estudiantes.Models.StudentSubject>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                Foto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateInscription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                <img src="~/images/students/@item.Student.Picture"
                     class="rounded-circle"
                     height="80" with="40"
                     asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInscription)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", "StudentSubject", new { idEstudiante = item.StudentId, idMateria = item.SubjectId}) |
            </td>
        </tr>
}
    </tbody>
</table>
